@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.signupBg{
  background-color: rgba(0, 0, 0, 0.616);
  background: url('https://i.pinimg.com/1200x/d6/5b/e2/d65be2b3f8cc389514fa5ec532290709.jpg');
  background-size: cover;
  background-position: left center;
}